<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ZhuceServlet</display-name>
    <servlet-name>ZhuceServlet</servlet-name>
    <servlet-class>servlet.ZhuceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuceServlet</servlet-name>
    <url-pattern>/ZhuceServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Tfilter</display-name>
    <filter-name>Tfilter</filter-name>
    <filter-class>filter.Tfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Tfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddbookServlet</display-name>
    <servlet-name>AddbookServlet</servlet-name>
    <servlet-class>servlet.AddbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbookServlet</servlet-name>
    <url-pattern>/AddbookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatebookServlet</display-name>
    <servlet-name>UpdatebookServlet</servlet-name>
    <servlet-class>servlet.UpdatebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatebookServlet</servlet-name>
    <url-pattern>/UpdatebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllServlet</display-name>
    <servlet-name>SelectAllServlet</servlet-name>
    <servlet-class>servlet.SelectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllServlet</servlet-name>
    <url-pattern>/SelectAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddbookidServlet</display-name>
    <servlet-name>AddbookidServlet</servlet-name>
    <servlet-class>servlet.AddbookidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbookidServlet</servlet-name>
    <url-pattern>/AddbookidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBookid</display-name>
    <servlet-name>SelectBookid</servlet-name>
    <servlet-class>servlet.SelectBookid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBookid</servlet-name>
    <url-pattern>/SelectBookid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryBookinfoByPage</display-name>
    <servlet-name>queryBookinfoByPage</servlet-name>
    <servlet-class>servlet.queryBookinfoByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBookinfoByPage</servlet-name>
    <url-pattern>/queryBookinfoByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLiuyanServlet</display-name>
    <servlet-name>AddLiuyanServlet</servlet-name>
    <servlet-class>servlet.AddLiuyanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLiuyanServlet</servlet-name>
    <url-pattern>/AddLiuyanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booklistServlet</display-name>
    <servlet-name>booklistServlet</servlet-name>
    <servlet-class>servlet.booklistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booklistServlet</servlet-name>
    <url-pattern>/booklistServlet</url-pattern>
  </servlet-mapping>
</web-app>